.footerClass {
  background-color: #42344B;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
}

.footerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.logoSection {
  margin-bottom: 5px;
}

.companySection {
  text-align: start;
  color: white;
  margin-bottom: 5px;
}

.linksSection {
  text-align: center;
  margin-bottom: 5px;
}

.footerLink {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.socialMediaSection {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.socialIcon {
  margin: 0 5px;
  color: white;
  font-size: 20px;
}

@media (max-width: 480px) {
  .footerContent {
    flex-direction: column;
  }
  
  .companySection {
    text-align: center;
  }
  
  .linksSection {
    margin-top: 10px;
  }
}
